### https://raw.github.com/github/gitignore/690a433b668348c33087d34fafe2155ebe8bb4cf/Jekyll.gitignore

.sass-cache/
.jekyll-metadata
docs/Rakefile
docs/README.md
docs/ja/Rakefile
Gemfile.lock
.DS_Store


