    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Tabijiの目指すところ</h2>
                    <hr class="light">
                    <p class="text-faded">Tabijiはより旅を楽しんでもらう、旅に集中してもらうことを目指している旅の記録アプリです。自分の旅をより大切にしてもらいたいから、あえてSNSライクなアプリにはしません。自分の旅をより記憶してもらいたいから、全自動にはしません。ただし、面倒なことはTabijiが担当します。その余った時間で、旅から帰った後の自分のために記録を残しませんか？スマホばかりを見る旅ではなく、実際の旅先を見て、感じて欲しい。<br>そんなことを願って企画開発しています。</p>
                </div>
            </div>
        </div>
    </section>
