<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tabijiの特徴</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-smile wow bounceIn text-primary"></i>
                    <h3>Be easy</h3>
                    <p class="text-muted">大切な旅の記憶。でも、記録するのは面倒。Tabijiはちょっとだけ記録を簡単に取れるようにします。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>旅前・中・後</h3>
                    <p class="text-muted">旅は3度楽しめる。旅に出る前の計画、旅の最中、旅から戻った後。Tabijiはそれらのシーンで旅人であるあなたに寄り添います。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>More Fun</h3>
                    <p class="text-muted">Tabijiでもっと旅が楽しくなる！そんな機能が用意されています</p>
                </div>
            </div>
        </div>
    </div>
</section>
