<section class="no-padding" id="product">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for product in site.data.products %}            
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ product.image }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   {{ product.category }}
                                </div>
                                <div class="project-name">
                                    {{ product.description }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
